<div class="under-construction">
    <h1>Under-construction</h1>
  </div>
<div class="container-fluid">

  <header role="banner">
    {{ page.header }}
  </header>


<div class="row">
 {{ page.primary_menu }}
</div>

<div class="row">
  <div class="col-md-2">
    .
  </div>
  <div class="col-md-10">
    <div class="event-calendar">
  {{ page.content }}
     </div>
  </div>   
</div>

<div class="row">
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
</div>

</div>{# /.layout-container #}


  <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>