
# Dependency directories
node_modules/
templates/

# Dependency files
package-lock.json
package.json



# Optional npm cache directory
.npm


# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

