.about-us{
  padding: 30px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.about-us img{
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin: 25px 0px;
}